.container{
    position:relative;
}
.container input{
    padding: 5px;
    display: block;
}
.alert{
    display: none;
    padding: 5px;
    color: red;
}
.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
}
.header .navbar a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color:red;
}
html{
    
    overflow-x: hidden ;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}



